VITE_API_URL=https://shilingi-backend-dxdyhgahfab4buan.westeurope-01.azurewebsites.net
VITE_DEV_PROXY_TARGET=http://127.0.0.1:8000
VITE_AUTH_HEADER_NAME=Authorization
VITE_AUTH_HEADER_PREFIX=Bearer
VITE_AUTH_TOKEN_STORAGE_KEY=shilingi_access_token
VITE_REFRESH_TOKEN_STORAGE_KEY=shilingi_refresh_token
VITE_EMAIL_VERIFICATION_REDIRECT_URL=https://shilingimoves.vercel.app/verify-email
VITE_PASSWORD_RESET_REDIRECT_URL=https://shilingimoves.vercel.app/forgot-password
