VITE_API_URL=https://shilingibackend-production.up.railway.app, http://localhost:8000
VITE_AUTH_HEADER_NAME=Authorization
VITE_AUTH_HEADER_PREFIX=Bearer
VITE_AUTH_TOKEN_STORAGE_KEY=shilingi_access_token
VITE_REFRESH_TOKEN_STORAGE_KEY=shilingi_refresh_token
VITE_LOGIN_ENDPOINT=https://shilingibackend-production.up.railway.app/api/v1/auth/login/
VITE_REGISTER_ENDPOINT=https://shilingibackend-production.up.railway.app/api/v1/auth/register/
VITE_PROFILE_ENDPOINT=https://shilingibackend-production.up.railway.app/api/v1/users/me/
